:root {
  --red-bg: #f72210;
  --gray-bg: #f4f5f6;
}

input:focus, button:focus, textarea:focus, select:focus{
  outline: none;
}

.text-black {
  color: black;
}

.bg-red {
  background-color: var(--red-bg);
}



body {
  font-family: "Roboto Condensed", sans-serif;
}

a:hover {
  text-decoration: none;
}

/* My Helpers Classes */

.fs-18 {
  font-size: 18px;
}

.summary-text {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.absolute-text {
  font-size: 17px;
  color: var(--red-bg);
}

.absolute-heroes-text {
  font-size: 13px;
  color: rgba(3, 3, 3, 0.5);
}

.absolute-img {
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
  bottom: 0;
}

.absolute-heroes-culture {
  padding: 0px 6px;
  left: 0;
  bottom: 0;
  background-color: #C2D4D7;
}



.debate-title {
  padding-bottom: 11px;
}

.debate-item1 {
    border-top: 0.25rem solid #f92859;
    padding-top: 10px;
}

.debate-item2 {
    border-bottom: 0.25rem solid #1c87fb;
    padding-bottom: 12px;
}

.vs-sign {
    width: 32px;
    height: 32px;
    background-color: black;
    left: 46%;
    top: 0px;
}

.vs {
    border-bottom: 4px solid #d9d9d9;
    height: 16px;
}

.vs-deco {
    height: 32px;
    width: 100%;
}
.double-border {
    border: 1px double;
}

h4 {
  color:black;
  font-size: 19px;
  
}

h5 {
  font-size: 17px;
}

.opinion-picture {
  width: 63px;
}

.opinion-by-author {
  color: #555;
  font-size: 14px;
}

/* First declarations to stablish a layout */

/* *For mobile */
body {
  background-color: var(--gray-bg);
}

.middle {
  height: 50px;
  background-color: var(--red-bg);
  padding: 15px;
}

.login-button {
  background-color: var(--red-bg);
  color: var(--red-bg);
}

.debate {
  padding: 20px 15px;
  height: 270px; /*  delete */
}


.empty {
  height: 23px; /*  delete */
}



.heroes-culture-item {
 
  margin: 0px;
}


.free-sign {
  border: 1px solid #e2e2e2;
  background-color: var(--gray-bg);
  padding: 20px 20px 13px 20px;
  max-width: 298px;
}

.logo-title {
  margin-bottom : 15px;
}

.free-sign h4 {
  max-width: 219px;
}

.input-email {
  border: 1px solid #e2e2e2;
  padding: 4px;
  font-size: 14px;
  font-family: "Helvetica",sans-serf;
  color: #555;
}

input:focus::placeholder {
  color: transparent;
}


.trump-xi-war {
  height: 559px; /*  delete */
  background-color: rgb(107, 101, 17);
}

.magazine-item {
  height: 360px; /*  delete */
  background-color: rgb(15, 14, 78);
  border: 2px solid black; /*  delete */
}

.editors-pick-item {
  height: 432px; /*  delete */
  background-color: rgb(250, 113, 1);
  border: 2px solid black; /*  delete */
}

.main-figure {
  height: 432px; /*  delete */
  background-color: rgb(51, 250, 1);
  border: 2px solid black; /*  delete */
}

.secondary-articles {
  height: 338px; /*  delete */
  background-color: rgb(72, 17, 122);
  border: 2px solid black; /*  delete */
}

.subscribe {
  height: 460px; /*  delete */
  background-color: rgb(23, 211, 201);
  border: 2px solid black; /*  delete */
}

.newsletter {
  height: 300px; /*  delete */
  background-color: rgb(255, 230, 0);
}

footer {
  height: 300px; /*  delete */
}

/* ......................... */

.middle-nav-logo {
  width: 133px;
  height: 24px;
}

.subscribe-button::after {
  width: 8px;
  height: 14px;
  content: "";
  background-image: url("/assets/images/icon-arrow-right-red.svg");
  background-size: cover;
  display: inline-block;
  margin-left: 10px;
}



.hamburguer {
  width: 59px;
  height: 100%;
}

.line {
  background-color: #fb9a94;
  width: 30px;
  height: 4px;
}

.subscribe-button {
  color: var(--red-bg);
  padding: 0px 8px 0px 10px;
}

h2 {
  padding: 10px 0px;
  font-size: 22px;
  color: black;
}

h3 {
  padding: 10px 0px;
  font-size: 20px;
  color: black;
}

h2:hover,
h3:hover {
  text-decoration: underline var(--red-bg);
}

h6 {
  color: rgba(3, 3, 3, 0.5);
  font-size: 16px;
}

.main-divisions {
  padding: 20px 15px;
  margin-bottom: 19px;
  border-bottom: 1px solid #e2e2e2;
}

.heroes-culture-item h6 {
  padding: 15px 0px 20px;
}


.opinion-item, .more-stories-item {
    padding: 10px 0px;
    border-top: 1px solid #ddd;
}

.more-stories-item {
  min-height: 121px;
}

.more-stories-item h5:hover {
  text-decoration: underline #f72210;
}

.opinion-item h5:hover {
    color:var(--red-bg);
}

.more-stories-picture {
    width: 94px;
    height: 94px;
}

.logo-n1 {
  background-color: var(--red-bg);
  background-image: url(/assets/images/logo-n1.svg);
  width: 28px;
  height: 29px;
  margin-right: 10px;
}

.free-sign-button::after {
  width: 8px;
  height: 14px;
  content: "";
  background-image: url("/assets/images/ic-white-arrow.png");
  background-size: cover;
  display: inline-block;
  margin-left: 10px;
  
}

.free-sign-button {
  border-radius: 3px;
  height: 32px;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

/* *For Tablets */

/* *For larger screen */

/* ......................................... */
